@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.font-protest-revolution {
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    overflow: hidden;
}

.divcinza {
    background-color: #979797;
}

/* Aplica estilos à barra de rolagem */
::-webkit-scrollbar {
    width: 15px; /* Largura da barra de rolagem */
}

/* Estilo do fundo da barra de rolagem */
::-webkit-scrollbar-track {
    background: rgb(41, 38, 38); /* Cor do fundo da barra de rolagem */
    border-radius: 10px;
}

/* Estilo do "polegar" ou botão da barra de rolagem */
::-webkit-scrollbar-thumb {
    background: #888; /* Cor do polegar */
    border-radius: 10px; /* Bordas arredondadas no polegar */
}

/* Estilo do polegar quando ele estiver sendo hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* Cor do polegar ao passar o mouse */
}